<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<!DOCTYPE mapper-->
<!--        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"-->
<!--        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->

<!--<mapper namespace="com.example.vacation_reservation.mapper.VacationMapper">-->

<!--    <select id="getMonthlyVacations" resultType="com.example.vacation_reservation.dto.CalendarEventDto">-->
<!--        SELECT-->
<!--        CONCAT(vt.name, ' - ', u.name) AS title,-->
<!--        vd.vacation_date AS start,-->
<!--        vd.vacation_date AS end,-->
<!--        CASE vt.name-->
<!--        WHEN '연차' THEN '#ff6b6b'-->
<!--        WHEN '하계휴가' THEN '#4dabf7'-->
<!--        WHEN '대체휴가' THEN '#82c91e'-->
<!--        WHEN '포상휴가' THEN '#fab005'-->
<!--        ELSE '#adb5bd'-->
<!--        END AS color-->
<!--        FROM vacation v-->
<!--        JOIN vacation_dates vd ON v.id = vd.vacation_id-->
<!--        JOIN vacation_type vt ON v.vacation_type_id = vt.id-->
<!--        JOIN user u ON v.user_id = u.id-->
<!--        JOIN user_department ud ON u.id = ud.user_id-->
<!--        WHERE-->
<!--        YEAR(vd.vacation_date) = #{year}-->
<!--        AND MONTH(vd.vacation_date) = #{month}-->
<!--        <if test="viewMode == 'my'">-->
<!--            AND u.id = #{userId}-->
<!--        </if>-->
<!--        <if test="viewMode == 'department'">-->
<!--            AND ud.department_id = #{departmentId}-->
<!--        </if>-->
<!--        AND v.status = 'Approved'-->
<!--    </select>-->

<!--</mapper>-->
